<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'about', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
	<div>
		<div id="test">
			<p  style="color: white; font-family: 'Lato', sans-serif";>
				Hello! My name is Matthew Ahlberg and I am a junior full-stack developer living in Santa Monica, CA. I am experienced with HTML5, CSS3, Git, Ruby on Rails, Javascript, Bootstrap, PostgreSQL, MongoDB, Firebase and Illustrator. 
				<br>
				<br>
				I also love the outdoors so take the journey through my portfolio and check out some of my recent work. If you are looking to fill a web development position I would love to speak about potential opportunities!
			</p>
		</div>
		<img src="https://i.imgur.com/ZFILOBX.gif" 
		style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:-5000;">
		<div class="about-button" style="margin-top: 11%; margin-left: 13.4%;">
			<%= link_to work_path do %>
				<%= image_tag 'down-arrow.gif' %>
			<% end %>
		</div>

		<!-- <img src="http://i.imgur.com/oiO5zYL.gif" class="about-button"style="margin-top: 47%; margin-left: 79.5%;"></a> -->
	</div>

<%= yield %>

</body>
</html>
